html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* styling*/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
body{
	background-color:#FCFCFC;
	color:#0061FF;
	font-family:Arial, Helvetica, sans-serif;
}
aside{
	height:100%;
	width: 230px;
	position: fixed;
	top: 0;
	left:0;
	background-color: #535346;
	padding-top: 30px;
}
nav a{
	color:#0061FF;
	display:block;
	font-size: 30px;
	margin: 2px;
	padding: 20px;
	text-decoration: none;
}
nav a:hover{
	color: #D8D8D8 ;
}
.icon{
	margin: 2px;
	padding: 8px;;
}
main{
	font-size: 20px;
	letter-spacing: 2px;
	line-height: 1.6;
	margin-left: 230px;
}
#image{
	margin-left: auto;
	margin-right: auto;
	/*width: 50%;*/
	text-align: center;
}
#image img{
	border-radius:35%;
	margin-top: 40px;
	margin-bottom: 40px;
}
#image h1{
	font-size: xx-large;
	font-weight: bold;
	text-align: center;
}
#image h2{
	font-size: large;
	text-align: center;
}
section h3{
	background-color: rgba(83,83,70,0.5);
	display: block;
	font-size: 24px;
	font-weight: bolder;
	padding: 10px;
	text-align: center;
	text-transform: uppercase;
}
section h4{
	color: #0E1E30;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}
section p{
	margin: 10px;
	padding: 5px;
}
section h5{
	color:#00326A;
}
.container{
	margin: 10px;
	padding: 10px;
}
.content{
	background-color: white;
	border: 3px solid white;
	box-shadow: 10px 8px 10px grey;
	margin-left: 50px;
	padding: 10px;
	width: 60%;
}
.content img{
	width: 30%;
	height: 30%;
}
#web{
	width : 70%;
	height: 70%;
	padding-left: 50px;
}
.content a{
	color:#0061FF;
	font-size: medium;
	text-align: center;
	text-decoration: none;
}
.content button{
	background-color:rgba(83,83,70,0.5);
	border:3px solid transparent;
	border-radius: 5px;
	height: 40px;
	margin: 40px;
	padding: 2px;
	width: 90%;
}
.content ul{
	/*list-style-type: square;*/
	margin: 2px;
	margin-left: 15px;
	padding: 5px;	
}
#contact h4{
	text-align: center;
}
#contact a{
	color: #0061FF;
	text-decoration: none;
}
#contact a:hover{
	color: #00326A;
}
.icon1{
	padding: 10px;
} 
footer{
	display:block;
	background-color: rgba(83,83,70,0.5);
	text-align: center;
}
footer a{
	color:#0061FF;
	text-decoration: none;
}
footer a:hover{
	color: #FCFCFC;
}
@media screen and (max-width: 700px) {
	aside {
		display:none;
	}
	main{
		margin-left: 10px;
	}
	.content button{
		width: 50%;
	}
}
@media screen and (max-width: 400px) {
	aside{
		display: none;
	}
	main{
		margin-left: 0;
	}
	.container{
		margin: 0;
		padding: 10px;
	}
	.content button{
		width: 50%;
	}
	#web{
		width: 50%;
		height: 50%;
	}
}
